<div class="container">
	<form name="inputForm" ng-hide="submit">
		<h2>Submit Timesheet</h2>
		<div class="form-group" ng-form="emailForm" has-success has-feedback>
	    <label for="inputEmail">Email address (required)</label>
	    <span class="glyphicon glyphicon-ok"></span>
	    <input type="email" class="form-control" name="inputEmail" ng-model="input.email" placeholder="Enter email" required>
    	<div class="alert alert-danger" role="alert" ng-show="emailForm.$invalid && !emailForm.$pristine">
  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  			Please enter a valid email address
			</div>
		</div>

		<div class="form-group" ng-form="timeForm" has-success has-feedback>
	    <label>Time (required)</label>
	    <div class="input-group">
	    	<input id="inputHours" type="number" class="form-control" ng-model="input.hours" placeholder="Enter Hours" min=0 required> Hours
	    </div>
	    <div class="input-group">
	    	<input id="inputMinutes" type="number" class="form-control" ng-model="input.minutes" placeholder="Enter Minutes" min=0 max=59 required> Minutes
	    </div>
	    <div class="alert alert-danger" role="alert" ng-show="timeForm.$invalid && !timeForm.$pristine">
  			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  			Please enter a valid number of hours and minutes
			</div>
		</div>

		<div class="form-group">
			<label for="inputMessage">Message</label>
	    <textarea id="inputMessage" ng-model="input.message" placeholder="Optional message..."></textarea>
		</div>

		<div class="form-group" ng-form="workForm">
			<label for="workPicker">What type of work is this for? (required)</label>
			<select id="workPicker" ng-model="input.workType"class="selectpicker" required>
		    <option>Time working on visual effects for movie</option>
		    <option>Time spent reviewing the work of a junior artist</option>
		    <option>Time spent editing</option>
		  </select>
		</div>

		<button type="button" class="btn btn-danger" ng-click="clearForm()">Clear</button>
		<button type="button" class="btn btn-success" ng-disabled="!emailForm.$valid || !timeForm.$valid || !workForm.$valid" ng-click="submitTimeSheet()">Next</button>
		<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
	</div>

	<div class="span12" ng-show="submit">
		<h2>Timesheet Submitted</h2>
		
		<div>Thank you {{input.email}}.</div>

		<div>You have logged {{input.hours}} hours and {{input.minutes}} minutes of work today.</div>

		<div>
			<button type="button" class="btn btn-primary" ng-click="startAgain()">Start Again</button>
		</div>
	</div>
</div>

